@page "/timesheets"

@attribute [Authorize(Roles = Role.Admins)]

@inject ApplicationDbContext Db

<PageTitle>Timesheet Details</PageTitle>

<MudDataGrid T="Attendance" @ref="_grid"
             ServerData="@GetAttendances"
             SortMode="SortMode.Multiple"
             Filterable="true"
             Hover="true"
             Loading="loadingData"
             Hideable="true"
             Dense="true">

    <ToolBarContent>
        <MudText Typo="Typo.h6">Trainee Timesheets</MudText>
        <MudSpacer />
        <MudTextField Value="@_searchString" ValueChanged="(string v) => OnSearch(v)" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Student.Name" Title="Name" Groupable="true" />
        <PropertyColumn Property="x => x.Date" Grouping Groupable="true">
            <GroupTemplate>
                <span style="font-weight:bold">
                    Attendance Date: @context.Grouping.Key
                    <MudChip Variant="Variant.Outlined" Color="Color.Tertiary">@context.Grouping.Count() Entries</MudChip>
                </span>
            </GroupTemplate>
        </PropertyColumn>
        <TemplateColumn Title="Punchin" Filterable="false">
            <CellTemplate>
                @(context.Item.PunchIn.ToNepalTime(context.Item.Date))
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="Punchout" Filterable="false">
            <CellTemplate>
                @(IsPunchOutEmpty(context.Item.PunchOut) ? "No Punch Out" : context.Item.PunchOut.ToNepalTime(context.Item.Date))
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="Duration" Filterable="false">
            <CellTemplate>
                @(IsPunchOutEmpty(context.Item.PunchOut) ? "N/A" : (context.Item!.PunchOut - context.Item!.PunchIn)!.Value.Humanize(2))
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.WorkLog" Title="Task" Filterable="false" />
        @* <TemplateColumn Title="Team" Groupable="true">
            <CellTemplate>
                @(context.Item.Student?.Team?.Name ?? "Not Assigned")
            </CellTemplate>
        </TemplateColumn> *@
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Attendance" PageSizeOptions="[200, 500, 1000]" />
    </PagerContent>
</MudDataGrid>


@code {

    private MudDataGrid<Attendance> _grid = null!;
    private string _searchString = string.Empty;
    private bool loadingData;

    private async Task<GridData<Attendance>> GetAttendances(GridState<Attendance> state, CancellationToken ct)
    {
        loadingData = true;

        var query = Db.Attendances
            .Include(x => x.Student)
            .AsNoTracking()
            .AsQueryable();

        if (!string.IsNullOrWhiteSpace(_searchString))
        {
            query = query.Where(x =>
                x.Student.Name.Contains(_searchString));
        }

        var totalItems = await query.CountAsync();
        var items = await query
            .OrderByDescending(x => x.Date)
            .Skip(state.Page * state.PageSize)
            .Take(state.PageSize)
            .ToListAsync();

        loadingData = false;
        return new GridData<Attendance> { Items = items, TotalItems = totalItems };
    }

    private async Task OnSearch(string value)
    {
        _searchString = value;
        if (_grid is not null)
            await _grid.ReloadServerData();
    }

    private bool IsPunchOutEmpty(TimeOnly? time) => time == null || time == TimeOnly.MinValue;
}
